@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap");

* {
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgb(199, 255, 236);
  font-family: "Poppins", sans-serif;
}

.first {
  background-color: rgb(255, 241, 223);
  width: 500px;
  height: 500px;
  display: inline-block;
}

/* Stilovi za svaki p tag koji se nalazi unutar .first kontejnera: */
/* .first p {
  color: #007c1b;
} */

/* Stilovi za p tag koji je direktno child element .first kontejnera: */
.first > p {
  color: #007c1b;
}

/* Stilovi za prvi p tag koji se nalazi nakon .first kontejnera: */
.first + p {
  color: #d9d500;
}

.second {
  background-color: rgb(255, 137, 241);
  width: 500px;
  height: 500px;
  display: inline-block;
}

.icon {
  text-align: center;
}

.instagram {
  color: #ff0000;
  font-size: 50px;
}

.discord {
  color: #007c1b;
  font-size: 50px;
}

a {
  color: #00ccff;
  text-decoration: none;
  font-style: italic;
  font-weight: 600;
}

a:hover {
  background-color: #00ccff;
  color: rgb(255, 241, 223);
}

a:active {
  color: #000000;
}

a:visited {
  color: rgb(139, 129, 116);
}

.first:active {
  background-color: #000000;
}
