* {
  margin: 0px;
  box-sizing: border-box;
}
header {
  height: 10vh;
  display: flex;
  align-items: center;
  padding-left: 1%;
  padding-right: 10%;
  background-color: white;
  justify-content: space-evenly;
  box-shadow: rgb(100, 100, 111) 10px 7px 29px 0px;

  /* float: left; */
}

header ul {
  display: flex;
  list-style-type: none;
  gap: 25px;
  font-size: 15px;
  text-decoration: none;
}
header ul a {
  text-decoration: none;
  color: #124265;
}

.desno {
  display: flex;
}
.desno .dugme a {
  margin-left: 20px;
  font-size: 20px;
}
.dugme {
  display: flex;
  border: 1px solid black;
  margin-left: 20px;
  background-color: #2487ce;
  color: aliceblue;
  /* width: 100px; */
  /* height: 50px; */
}
.dugme a {
  text-decoration: none;
  color: white;
}

main {
  padding-left: 8%;
  padding-right: 8%;
}
main .slike img {
  margin-top: 40px;
  margin-left: 30px;
}
main .naslov h1 {
  color: #124265;
  position: absolute;
  bottom: 500px;
  left: 750px;
  top: 100px;
}
main .naslov p {
  top: 250px;
  font-size: 20px;
  position: absolute;
  bottom: 400px;
  text-align: center;
  left: 700px;
  top: 190px;
}

.footer {
  height: 120px;
  text-align: center;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f8fbfe;
  display: flex;
  justify-content: space-between;
  padding-left: 8%;
  padding-right: 8%;
}
