* {
  margin: 0px;
  box-sizing: border-box;
}

.main {
  background-color: #00b9b9;
  color: #ff0000;
  font-size: 2rem;
}

/* @media (max-width: 500px) {
  .main {
    background-color: #dfafff;
    color: #520000;
    font-size: 1rem;
  }
} */
/* @media (orientation: landscape) {
  .main {
    background-color: #dfafff;
    color: #520000;
    font-size: 1rem;
  }
} */
/* @media (orientation: portrait) {
  .main {
    background-color: #dfafff;
    color: #520000;
    font-size: 1rem;
  }
} */
/* @media (max-width: 500px), (min-width: 800px) {
  .main {
    background-color: #dfafff;
    color: #520000;
    font-size: 1rem;
  }
} */
@media (min-width: 500px) and (max-width: 800px) {
  .main {
    color: #4d2929;
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .main {
    background-color: #4d2929;
    color: #55a562;
    font-size: 1rem;
  }
}
